In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('credito-mensual-2020.csv', decimal = ',')

In [27]:
df = df[['impacto_presupuestario_mes',
       'ejercicio_presupuestario','servicio_id', 'servicio_desc',
       'programa_id', 'programa_desc','inciso_id', 'inciso_desc', 'fuente_financiamiento_id',
       'fuente_financiamiento_desc', 'credito_presupuestado', 'credito_vigente', 'credito_comprometido', 
       'credito_devengado','credito_pagado', 'ultima_actualizacion_fecha']]

In [28]:
df.groupby(['servicio_desc', 'servicio_id']).agg({'credito_vigente':'sum'})

                                                                credito_vigente
servicio_desc                                      servicio_id
Administración Nacional de Aviación Civil          669             3.068111e+03
Administración Nacional de Laboratorios e Insti... 906             3.037947e+03
Administración Nacional de Medicamentos, Alimen... 904             1.771618e+03
Administración Nacional de la Seguridad Social     850             3.381730e+06
Administración de Parques Nacionales               107             3.035470e+03
...                                                                         ...
Superintendencia de Servicios de Salud             914             3.753452e+04
Teatro Nacional Cervantes                          113             5.053256e+02
Tribunal Fiscal de la Nación                       620             4.465304e+02
Tribunal de Tasaciones de la Nación                612             1.235414e+02
Unidad de Información Financiera                   670             5.708949e+02

[127 rows x 1 columns]

In [15]:
df = df.loc[df['servicio_id']==364]

In [16]:
df.to_csv('base.csv', index=False)